# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
.coverage*
htmlcov/

# notes files
notes/

# Backup filies
*~

# Environments
.env
.env.*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

# ruff
.ruff_cache/

#pytest
.pytest_cache/
output/

# macOS
.DS_Store/

# vscode
.vscode/

# development local sqlite file
test_cm.db

# temporary secrets files (do not commit these to git!)
.secrets/

build/
bruno/
prod_area/
