# Run PostgreSQL for testing with a local development server.
# This is used by make run, which starts cm-service in the foreground.

name: "${USER}-cm-service"
services:
  migratedb:
    profiles:
      - full
      - server
      - daemon
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: cmservice
    entrypoint:
      - alembic
    command:
      - upgrade
      - head
    environment: &cmenv
      DB__HOST: postgresql
      DB__ECHO: true
      DB__URL: postgresql://cm-service@postgresql:5432/cm-service
      DB__PASSWORD: INSECURE-PASSWORD
      DB__TABLE_SCHEMA: public
    networks:
      - cmservice
    depends_on:
      postgresql:
        condition: service_healthy

  cmservice:
    profiles:
      - full
      - server
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: cmservice
    env_file:
      - path: .env
        required: false
    environment: *cmenv
    ports:
      - "8080:8080"
    networks:
      - cmservice
    depends_on:
      migratedb:
        condition: service_completed_successfully

  cmworker:
    profiles:
      - full
      - daemon
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: cmworker
    env_file:
      - path: .env
        required: false
    environment: *cmenv
    volumes:
      - "./prod_area:/prod_area"
    networks:
      - cmservice
    depends_on:
      migratedb:
        condition: service_completed_successfully

  cmweb:
    profiles:
      - full
      - client
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: cmweb
    env_file:
      - path: .env
        required: false
    environment:
      CM_ENDPOINT: http://cmservice:8080/cm-service
      CM_API_VERSION: v2
    networks:
      - cmservice
    depends_on:
      cmservice:
        condition: service_healthy

  postgresql:
    image: "postgres:16"
    hostname: "postgresql"
    environment:
      POSTGRES_PASSWORD: "INSECURE-PASSWORD"
      POSTGRES_USER: "cm-service"
      POSTGRES_DB: "cm-service"
    ports:
      - "65432:5432"
    networks:
      - cmservice
    volumes:
      - "pgsql:/var/lib/postgresql/data"
    healthcheck:
      test: >-
        psql postgresql://cm-service:INSECURE-PASSWORD@127.0.0.1/cm-service
        --quiet --no-align --tuples-only -1 --command="SELECT 1"
      interval: 1s
      timeout: 1s
      retries: 30
      start_period: 1s

volumes:
  pgsql:

networks:
  cmservice:
    driver: bridge
