{% extends "pages/base.html" %}
{% block title %} Group Details {% endblock %}
{% block content %}
{% set element = group %}
{% set element_type = 'GROUP' %}
{% include "partials/reset_script_modal.html" %}
{% include "partials/error_modal.html" %}
{% include "partials/script_log_modal.html" %}
{% include "partials/edit_data_dict_modal.html" %}

<script src="{{ url_for('static', path='/js/script-grid-utils.js') }}"></script>
<script>
    let groupScripts;
    let groupJobs;
    let wmsReport;
</script>
<script hx-swap-oob="outerHTML:#grid_data" id="grid_data">
    // Update data objects with every htmx reload
    // to reflect any db changes
    groupScripts = {{scripts|sort(attribute="id")|tojson}};
    groupJobs = {{jobs|sort(attribute="id")|tojson}};
    wmsReport = {{group.wms_report|tojson}};
</script>
<script>
    const reset_script_endpoint = "{{url_for('reset_script')}}";
    class JobNameRenderer {
        eGui;

     init(params) {
       let jobName = document.createElement('a');
       jobName.textContent = params.data.name;
       jobName.href = `{{url_for("get_job", campaign_id=group.campaign_id, step_id=group.step_id, group_id=group.id, job_id="${params.data.id}")}}`;
       jobName.setAttribute('class', 'font-bold text-teal-700 underline underline-offset-4 decoration-2 hover:text-gray-500');
       this.eGui = document.createElement('span');
       this.eGui.appendChild(jobName)
     }

     getGui() {
       return this.eGui;
     }

     refresh(params) {
         return false
     }
    }
    class ScriptNameRenderer {
        eGui;

     init(params) {
       let scriptName = document.createElement('a');
       scriptName.textContent = params.data.name;
       scriptName.href = `{{url_for("get_script", campaign_id=group.campaign_id, step_id=group.step_id, group_id=group.id, script_id="${params.data.id}")}}`;
       scriptName.setAttribute('class', 'font-bold text-teal-700 underline underline-offset-4 decoration-2 hover:text-gray-500');
       this.eGui = document.createElement('span');
       this.eGui.appendChild(scriptName)
     }

     getGui() {
       return this.eGui;
     }

     refresh(params) {
         return false
     }
    }

    const scriptsGridOptions = {
        columnDefs: [
            {field: "name", flex: 1, cellRenderer: ScriptNameRenderer,},
            {field: "status", flex: 1},
            {field: "superseded", flex: 1},
            {
                headerName: 'Actions',
                field: 'resetButton',
                cellRenderer: ResetButtonCellRenderer,
                editable: false,
                width: 200,
            },
        ]
    };

    const jobsGridOptions = {
        columnDefs: [
            {field: "name", flex: 1, cellRenderer: JobNameRenderer},
            {field: "status", flex: 1},
            {field: "superseded", flex: 1},
            {field: "submit_status", headerName: "Submit Status"},
            {field: "submit_url", flex: 2, headerName: "Submit URL"},
            {field: "stamp_url", flex: 2, headerName: "Stamp URL"},
        ]
    };
    const formatWMSColumn = (params) => params.value === 0 ? "" : params.value;
    const wmsReportOptions = {
        defaultColDef: {
            resizable: false,
            width: 100,
        },
        columnDefs: [
            {field: "name", headerName: "Name", width: 350,},
            {field: "n_expected", headerName: "Expected", valueFormatter: formatWMSColumn},
            {field: "n_unknown", headerName: "Unknown", valueFormatter: formatWMSColumn},
            {field: "n_misfit", headerName: "Misfit", valueFormatter: formatWMSColumn},
            {field: "n_unready", headerName: "Unready", valueFormatter: formatWMSColumn},
            {field: "n_ready", headerName: "Ready", valueFormatter: formatWMSColumn},
            {field: "n_pending", headerName: "Pending", valueFormatter: formatWMSColumn},
            {field: "n_running", headerName: "Running", valueFormatter: formatWMSColumn},
            {field: "n_deleted", headerName: "Deleted", valueFormatter: formatWMSColumn},
            {field: "n_held", headerName: "Held", valueFormatter: formatWMSColumn},
            {field: "n_succeeded", headerName: "Succeeded", valueFormatter: formatWMSColumn},
            {field: "n_failed", headerName: "Failed", valueFormatter: formatWMSColumn},
            {field: "n_pruned", headerName: "Pruned", valueFormatter: formatWMSColumn},
        ]
    };

    let scriptGridApi;
    const populateScriptsGrid = (scriptsJson) => {
        scriptsGridOptions.rowData = scriptsJson;
        const scriptsGridElement = document.getElementById("scriptsGrid");
        scriptGridApi = agGrid.createGrid(scriptsGridElement, scriptsGridOptions);
    };

    // jobs
    const populateJobsGrid = (jobsJson) => {
        jobsGridOptions.rowData = jobsJson;
        const jobsGridElement = document.getElementById("jobsGrid");
        agGrid.createGrid(jobsGridElement, jobsGridOptions);
    };

    // wms task report
    const populateWMSReportGrid = (wmsReportJson) => {
        wmsReportOptions.rowData = wmsReportJson;
        const wmsReportGridElement = document.getElementById("wmsReportGrid");
        agGrid.createGrid(wmsReportGridElement, wmsReportOptions);
    };

    const populateGrids = () => {
        populateScriptsGrid(groupScripts);
        populateJobsGrid(groupJobs);
        populateWMSReportGrid(wmsReport);
    };

    window.addEventListener("DOMContentLoaded", () => {
        populateGrids();

        document.querySelector("#editDataBtn").addEventListener("click", () => {
            let group_status = "{{group.status}}";
            // TODO: revisit status mapping between frontend and backend
            // if (Object.keys({{group.data}}).length === 0) {
            //     errorMessage.innerText = "Data Config is empty!";
            //     errorModal.showModal();
            // } else if(group_status !== "COMPLETE") {
            document.querySelector("#edit-data-dict-modal").showModal();
            // } else {
            //     errorMessage.innerText = "Cannot update data for a running group!";
            //     errorModal.showModal();
            // }
        });

        document.querySelector("#confirm-edit-data-dict").addEventListener("click", () => {
        document.querySelector("#edit-data-dict-modal").close();
        });
        document.querySelector("#cancel-edit-data-dict").addEventListener("click", () => {
            document.querySelector("#edit-data-dict-modal").close();
            document.querySelector("#update-data-dict-form").reset();
        });
    }, false);

    htmx.on('htmx:afterRequest', (evt) => {
        if(!["data-dict"].includes(evt.detail.target.id)) {
            populateGrids();
        }
    });
</script>

{% set fullname = group.fullname.split('/') %}
<nav class="flex px-2 sm:px-4 lg:px-4" aria-label="Breadcrumb">
  <ol role="list" class="flex items-center space-x-2">
    <li>
      <div class="flex items-center">
        <a href="{{ url_for('get_campaigns')}}" class="underline decoration-2 ml-2 text-sm font-medium text-gray-500 hover:text-gray-700">{{ fullname[0] }}</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="h-5 w-5 flex-shrink-0 text-gray-300" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
        </svg>
        <a href="{{ url_for('get_steps', campaign_id=group.campaign_id) }}" class="underline decoration-2 ml-2 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page">{{ fullname[1] }}</a>
      </div>
    </li>
      <li>
      <div class="flex items-center">
        <svg class="h-5 w-5 flex-shrink-0 text-gray-300" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
        </svg>
        <a href="{{ url_for('get_step', campaign_id=group.campaign_id, step_id=group.step_id) }}" class="underline decoration-2 ml-2 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page">{{ fullname[2] }}</a>
      </div>
    </li>
  </ol>
</nav>
<div class="w-full">
    <div class="overflow-hidden px-4 py-5 sm:p-6 relative w-1/2">
        <div class="flex items-center">
            <span class="text-2xl font-bold">{{group.name}}</span>
        </div>
        <div class="flex items-center">
            <span class="text-sm font-normal">{{group.fullname}}</span>
        </div>
        <div class="block items-center pt-6">
            <span class="text-sm font-bold align-top">Collections</span>
            <button id="editCollectionsBtn">
                <span class="inline-flex h-5 w-5 hover:text-teal-600">
                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                      <path d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z" />
                      <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z" />
                    </svg>
                </span>
            </button>
            <div id="collections">
                {% for key, value in group.collections|items %}
                <div class="block text-sm">{{key}}: {{value}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="block items-center pt-6">
            <span class="text-sm font-bold align-top">Data</span>
            <button id="editDataBtn">
                <span class="inline-flex h-5 w-5 hover:text-teal-600">
                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                      <path d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z" />
                      <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z" />
                    </svg>
                </span>
            </button>
            <div id="data-dict">
                {% include "partials/data_dict.html" %}
            </div>
        </div>
        <div class="block items-center pt-6">
            <span class="text-sm font-bold align-top">Child Config</span>
            <button id="editChildConfigBtn">
                <span class="inline-flex h-5 w-5 hover:text-teal-600">
                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                      <path d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z" />
                      <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z" />
                    </svg>
                </span>
            </button>
            <div id="child-config">
                {% for key, value in group.child_config|items %}
                <div class="block text-sm">{{key}}: {{value}}</div>
                {% endfor %}
            </div>
        </div>
        <div id="wms-progress"
             hx-get="{{ url_for('get_group', campaign_id=group.campaign_id, step_id=group.step_id, group_id=group.id) }}"
             hx-trigger="every 20s"
             hx-select="#wms-progress"
             hx-swap="outerHTML"
             class=" pt-6">
            <span class="text-sm font-bold">WMS Task Report</span>
            {% if group.aggregated_wms_report.expected != 0 %}
            <div class="flex pt-2 w-full">
                <div class="has-tooltip bg-teal-700 h-5
                    {% if group.aggregated_wms_report.running == 0 %}hidden{%endif%}"
                     style="width: {{ '{:.0%}'.format((group.aggregated_wms_report.running/group.aggregated_wms_report.expected) + 0.01) }}">
                    <span class="tooltip rounded shadow-lg p-1 bg-gray-200 text-sm -mt-8">Running</span>
                    <span class="text-xs">{{group.aggregated_wms_report.running}}</span>
                </div>
                <div class="has-tooltip bg-green-500 h-5
                    {% if group.aggregated_wms_report.succeeded == 0 %}hidden{%endif%}"
                     style="width: {{ '{:.0%}'.format((group.aggregated_wms_report.succeeded/group.aggregated_wms_report.expected) + 0.01) }}">
                    <span class="tooltip rounded shadow-lg p-1 bg-gray-200 text-sm -mt-8">Succeeded</span>
                    <span class="text-xs">{{group.aggregated_wms_report.succeeded}}</span>
                </div>
                <div class="has-tooltip bg-yellow-300 h-5
                    {% if group.aggregated_wms_report.pending == 0 %}hidden{%endif%}"
                     style="width: {{ '{:.0%}'.format((group.aggregated_wms_report.pending/group.aggregated_wms_report.expected) + 0.01) }}">
                    <span class="tooltip rounded shadow-lg p-1 bg-gray-200 text-sm -mt-8">Pending</span>
                    <span class="text-xs">{{group.aggregated_wms_report.pending}}</span>
                </div>
                <div class="has-tooltip bg-red-600 h-5
                    {% if group.aggregated_wms_report.failed == 0 %}hidden{%endif%}"
                     style="width: {{ '{:.0%}'.format((group.aggregated_wms_report.failed/group.aggregated_wms_report.expected) + 0.01) }}">
                    <span class="tooltip rounded shadow-lg p-1 bg-gray-200 text-sm -mt-8">Failed</span>
                    <span class="text-xs">{{group.aggregated_wms_report.failed}}</span>
                </div>
                <div class="has-tooltip bg-gray-300 h-5
                    {% if group.aggregated_wms_report.other == 0 %}hidden{%endif%}"
                     style="width: {{ '{:.0%}'.format((group.aggregated_wms_report.other/group.aggregated_wms_report.expected) + 0.01) }}">
                    <span class="tooltip rounded shadow-lg p-1 bg-gray-200 text-sm -mt-8">Other</span>
                    <span class="text-xs">{{group.aggregated_wms_report.other}}</span>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div id="group_content"
     hx-get="{{ url_for('get_group', campaign_id=group.campaign_id, step_id=group.step_id, group_id=group.id) }}"
     hx-trigger="every 20s"
     hx-select="#group_content"
     hx-swap="outerHTML">
    <div class="w-full px-4 py-5 sm:p-6">
        <div class="flex items-center">
            <span class="text-large font-bold">Scripts</span>
        </div>
        <div class="items-center pt-4">
            <div id="scriptsGrid" class="ag-theme-alpine h-64"></div>
        </div>
        <div class="flex items-center pt-8">
            <span class="text-large font-bold">Jobs</span>
        </div>
        <div class="items-center pt-4">
            <div id="jobsGrid" class="ag-theme-alpine h-64"></div>
        </div>
        <div class="flex items-center pt-8">
            <span class="text-large font-bold">WMS Task Report</span>
        </div>
        <div class="items-center pt-4">
            <div id="wmsReportGrid" class="ag-theme-alpine h-64"></div>
        </div>
    </div>
</div>
{% endblock %}
