@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;
@tailwind typography;
@tailwind aspect-ration;

.tooltip{
  visibility: hidden;
  position: absolute;
}
.has-tooltip:hover .tooltip {
  visibility: visible;
  z-index: 100;
}
