<div class="overflow-hidden px-4 py-5 shadow sm:p-6 bg-teal-50 relative h-300" xmlns="http://www.w3.org/1999/html">
    <div class="flex items-center">
        {% if campaign.status == "COMPLETE" %} {% include "complete_icon.html" %}
        {% elif campaign.status == "IN_PROGRESS" %} {% include "inprogress_icon.html" %}
        {% elif campaign.status == "FAILED" %} {% include "failed_icon.html" %}
        {% elif campaign.status == "NEED_ATTENTION" %} {% include "need_attention_icon.html" %}
        {% endif %}
        <span class="text-large font-bold">{{campaign.name}}</span>
    </div>
    <div class="mt-2">
        <span class="font-semibold inline-flex pl-3 text-xs uppercase"> Last updated 6:42pm Mon 7 Feb </span>
    </div>
    <div class="mt-3 pb-3">
            <div class="block text-xs pl-3">LSST Version: {{campaign.lsst_version}}</div>
            <div class="block text-xs pl-3">out: {{campaign.out}}</div>
            <div class="block text-xs pl-3">source: {{campaign.source}}</div>
        <div class="block text-xs pt-2 pl-3 text-green-700">{{campaign.scripts_completed}}</div>
        <div class="block text-xs pt-2 pl-3 text-green-700">{{campaign.groups_completed}}</div>
        <div class="block text-xs pt-2 pl-3 text-red-400">
            {% for group in campaign.need_attention_groups %}
                <a class="pr-2" href="{{ url_for('get_group', campaign_id=campaign.id, step_id=group.parent_id, group_id=group.id) }}">{{group.fullname}}</a>
            {% endfor %}
        </div>
        <div class="block text-xs pt-2 pl-3 text-red-400">
            {% for script in campaign.need_attention_scripts %}
                <a class="pr-2" href="{{ url_for('get_script', campaign_id=campaign.id, script_id=script.id) }}">{{script.name}}</a>
            {% endfor %}
        </div>
    </div>
    <div>
        <a href="{{ url_for('get_steps', campaign_id=campaign.id) }}"><span class="absolute right-3 bottom-3 text-teal-600" aria-hidden="true">
            <svg fill="none" stroke-width="2" class="w-6 h-6" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
        </span></a>
    </div>
    <button type="button" class="absolute right-3 top-6 text-teal-600" aria-expanded="false" aria-hidden="true" aria-haspopup="true">
        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" stroke="currentColor">
            <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z" />
        </svg>
    </button>
</div>
