{% extends "base.html" %}
{% block title %} Job Details {% endblock %}
{% block content %}
{% set fullname = job.fullname.split('/') %}
<nav class="flex px-2 sm:px-4 lg:px-4" aria-label="Breadcrumb">
  <ol role="list" class="flex items-center space-x-2">
    <li>
      <div class="flex items-center">
        <a href="{{ url_for('get_campaigns')}}" class="ml-2 text-sm font-medium text-gray-500 hover:text-gray-700">{{ fullname[0] }}</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="h-5 w-5 flex-shrink-0 text-gray-300" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
        </svg>
        <a href="{{ url_for('get_steps', campaign_id=campaign_id) }}" class="ml-2 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page">{{ fullname[1] }}</a>
      </div>
    </li>
      <li>
      <div class="flex items-center">
        <svg class="h-5 w-5 flex-shrink-0 text-gray-300" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
        </svg>
        <a href="{{ url_for('get_step', campaign_id=campaign_id, step_id=step_id) }}" class="ml-2 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page">{{ fullname[2] }}</a>
      </div>
    </li>
      <li>
      <div class="flex items-center">
        <svg class="h-5 w-5 flex-shrink-0 text-gray-300" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
        </svg>
        <a href="{{ url_for('get_group', campaign_id=campaign_id, step_id=step_id, group_id=group_id) }}" class="ml-2 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page">{{ fullname[3] }}</a>
      </div>
    </li>
  </ol>
</nav>
<div class="w-full">
    <div class="overflow-hidden px-4 py-5 sm:p-6 relative w-1/2">
        <div class="flex items-center">
            <span class="text-2xl font-bold">{{job.name}}</span>
        </div>
        <div class="flex items-center">
            <span class="text-sm font-normal">{{job.fullname}}</span>
        </div>
        <div class="block items-center pt-2">
            <span class="text-sm font-bold">Collections</span>
            {% for key, value in job.collections|items %}
            <div class="block text-sm">{{key}}: {{value}}</div>
            {% endfor %}
        </div>
        <div class="block items-center pt-2">
            <span class="text-sm font-bold">Data</span>
            {% for key, value in job.data|items %}
            <div class="block text-sm">{{key}}: {{value}}</div>
            {% endfor %}
        </div>
        <div class="block items-center pt-2">
            <span class="text-sm font-bold">Child Config</span>
            {% for key, value in job.child_config|items %}
            <div class="block text-sm">{{key}}: {{value}}</div>
            {% endfor %}
        </div>
        <div class="items-center pt-2">
            <span class="text-sm font-bold">WMS Task Report</span>
            {% if job.aggregated_wms_report.expected != 0 %}
            <div class="flex pt-2 w-full">
                <div class="has-tooltip bg-teal-700 h-5
                    {% if job.aggregated_wms_report.running == 0 %}hidden{%endif%}"
                     style="width: {{ '{:.0%}'.format((job.aggregated_wms_report.running/job.aggregated_wms_report.expected) + 0.01) }}">
                    <span class="tooltip rounded shadow-lg p-1 bg-gray-200 text-sm -mt-8">Running</span>
                    <span class="text-xs">{{job.aggregated_wms_report.running}}</span>
                </div>
                <div class="has-tooltip bg-green-500 h-5
                    {% if job.aggregated_wms_report.succeeded == 0 %}hidden{%endif%}"
                     style="width: {{ '{:.0%}'.format((job.aggregated_wms_report.succeeded/job.aggregated_wms_report.expected) + 0.01) }}">
                    <span class="tooltip rounded shadow-lg p-1 bg-gray-200 text-sm -mt-8">Succeeded</span>
                    <span class="text-xs">{{job.aggregated_wms_report.succeeded}}</span>
                </div>
                <div class="has-tooltip bg-yellow-300 h-5
                    {% if job.aggregated_wms_report.pending == 0 %}hidden{%endif%}"
                     style="width: {{ '{:.0%}'.format((job.aggregated_wms_report.pending/job.aggregated_wms_report.expected) + 0.01) }}">
                    <span class="tooltip rounded shadow-lg p-1 bg-gray-200 text-sm -mt-8">Pending</span>
                    <span class="text-xs">{{job.aggregated_wms_report.pending}}</span>
                </div>
                <div class="has-tooltip bg-red-600 h-5
                    {% if job.aggregated_wms_report.failed == 0 %}hidden{%endif%}"
                     style="width: {{ '{:.0%}'.format((job.aggregated_wms_report.failed/job.aggregated_wms_report.expected) + 0.01) }}">
                    <span class="tooltip rounded shadow-lg p-1 bg-gray-200 text-sm -mt-8">Failed</span>
                    <span class="text-xs">{{job.aggregated_wms_report.failed}}</span>
                </div>
                <div class="has-tooltip bg-gray-300 h-5
                    {% if job.aggregated_wms_report.other == 0 %}hidden{%endif%}"
                     style="width: {{ '{:.0%}'.format((job.aggregated_wms_report.other/job.aggregated_wms_report.expected) + 0.01) }}">
                    <span class="tooltip rounded shadow-lg p-1 bg-gray-200 text-sm -mt-8">Other</span>
                    <span class="text-xs">{{job.aggregated_wms_report.other}}</span>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="w-full px-4 py-5 sm:p-6">
        <div class="flex items-center">
            <span class="text-large font-bold">Scripts</span>
        </div>
        <div class="items-center pt-4">
            <div id="scriptsGrid" class="ag-theme-alpine h-64"></div>
        </div>
        <div class="flex items-center pt-4">
            <span class="text-large font-bold">Products</span>
        </div>
        <div class="items-center pt-4">
            <div id="productsGrid" class="ag-theme-alpine h-64"></div>
        </div>
        <div class="flex items-center pt-4">
            <span class="text-large font-bold">WMS Task Report</span>
        </div>
        <div class="items-center pt-4">
            <div id="wmsReportGrid" class="ag-theme-alpine h-64"></div>
        </div>
    </div>
</div>
<script>
    class ScriptNameRenderer {
        eGui;

     init(params) {
       let scriptName = document.createElement('a');
       scriptName.textContent = params.data.name;
       scriptName.href = `{{url_for("get_script", campaign_id=campaign_id, step_id=step_id, group_id=group_id, job_id=job.id, script_id="${params.data.id}")}}`;
       scriptName.setAttribute('class', 'font-bold text-teal-700 underline underline-offset-4 decoration-2 hover:text-gray-500');
       this.eGui = document.createElement('span');
       this.eGui.appendChild(scriptName)
     }

     getGui() {
       return this.eGui;
     }

     refresh(params) {
         return false
     }
    }
    const jobScripts = {{scripts|tojson}};
    const scriptsGridOptions = {
    rowData: jobScripts,
     columnDefs: [
         {field: "name", flex: 1, cellRenderer: ScriptNameRenderer,},
         {field: "status", flex: 1},
         {field: "superseded", flex: 1}
     ]
    };
    const scriptsGridElement = document.getElementById("scriptsGrid");
    agGrid.createGrid(scriptsGridElement, scriptsGridOptions);

    // products
    const formatWMSColumn = (params) => params.value === 0 ? "" : params.value;
    const jobProducts = {{job.products|tojson}};
    const productsGridOptions = {
    rowData: jobProducts,
        columnDefs: [
            {field: "name", headerName: "Name", flex: 2,},
            {field: "n_expected", headerName: "Expected", valueFormatter: formatWMSColumn},
            {field: "n_done", headerName: "Done", valueFormatter: formatWMSColumn},
            {field: "n_failed", headerName: "Failed", valueFormatter: formatWMSColumn},
            {field: "n_failed_upstream", headerName: "Failed Upstream", valueFormatter: formatWMSColumn},
            {field: "n_missing", headerName: "Missing", valueFormatter: formatWMSColumn},
        ]
    };

    const productsGridElement = document.getElementById("productsGrid");
    agGrid.createGrid(productsGridElement, productsGridOptions);

    // WMS task report
    const wmsReport = {{job.wms_report|tojson}};
    const wmsReportOptions = {
        rowData: wmsReport,
        defaultColDef: {
            resizable: false,
            width: 100,
        },
        columnDefs: [
            {field: "name", headerName: "Name", width: 350,},
            {field: "n_expected", headerName: "Expected", valueFormatter: formatWMSColumn},
            {field: "n_unknown", headerName: "Unknown", valueFormatter: formatWMSColumn},
            {field: "n_misfit", headerName: "Misfit", valueFormatter: formatWMSColumn},
            {field: "n_unready", headerName: "Unready", valueFormatter: formatWMSColumn},
            {field: "n_ready", headerName: "Ready", valueFormatter: formatWMSColumn},
            {field: "n_pending", headerName: "Pending", valueFormatter: formatWMSColumn},
            {field: "n_running", headerName: "Running", valueFormatter: formatWMSColumn},
            {field: "n_deleted", headerName: "Deleted", valueFormatter: formatWMSColumn},
            {field: "n_held", headerName: "Held", valueFormatter: formatWMSColumn},
            {field: "n_succeeded", headerName: "Succeeded", valueFormatter: formatWMSColumn},
            {field: "n_failed", headerName: "Failed", valueFormatter: formatWMSColumn},
            {field: "n_pruned", headerName: "Pruned", valueFormatter: formatWMSColumn},
        ]
    };
    const wmsReportGridElement = document.getElementById("wmsReportGrid");
    agGrid.createGrid(wmsReportGridElement, wmsReportOptions);
</script>
{% endblock %}
