<div class="px-4 sm:px-6 lg:px-8">
    <h1 class="text-sm font-bold leading-tight tracking-tight text-gray-400 pb-3 font-mono uppercase pt-8">{{production}}</h1>
</div>
<div class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-5 px-4 sm:px-6 lg:px-8">
    {% for campaign in productions[production] %}
    {% include "campaign_card.html" %}
    {% endfor %}
    <!-- link to add a campaign -->
    <div class="inline-flex border-2 border-dashed border-gray-400 px-4 py-5 sm:p-6 relative justify-center items-center">
        <span class=" text-gray-400 font-semibold drop-shadow-lg">New Campaign +</span>
    </div>
</div>
