{% extends "base.html" %}
{% block title %} Step Details {% endblock %}
{% block content %}
{% set fullname = step.fullname.split('/') %}
{% set no_status_groups = step.no_groups - step.no_groups_failed - step.no_groups_need_attention - step.no_groups_completed %}
<nav class="flex px-2 sm:px-4 lg:px-4" aria-label="Breadcrumb">
  <ol role="list" class="flex items-center space-x-2">
    <li>
      <div class="flex items-center">
        <a href="{{ url_for('get_campaigns')}}" class="ml-2 text-sm font-medium text-gray-500 hover:text-gray-700">{{ fullname[0] }}</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="h-5 w-5 flex-shrink-0 text-gray-300" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
        </svg>
        <a href="{{ url_for('get_steps', campaign_id=campaign_id) }}" class="ml-2 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page">{{ fullname[1] }}</a>
      </div>
    </li>
  </ol>
</nav>
<div class="w-full">
    <div class="overflow-hidden px-4 py-5 sm:p-6 relative w-1/2">
        <div class="flex items-center">
            <span class="text-2xl font-bold">{{step.name}}</span>
        </div>
        <div class="flex items-center">
            <span class="text-sm font-normal">{{step.fullname}}</span>
        </div>
        <div class="block items-center pt-2">
            <span class="text-sm font-bold">Collections</span>
            {% for key, value in step.collections|items %}
            <div class="block text-sm">{{key}}: {{value}}</div>
            {% endfor %}
        </div>
        <div class="block items-center pt-2">
            <span class="text-sm font-bold">Data</span>
            {% for key, value in step.data|items %}
            <div class="block text-sm">{{key}}: {{value}}</div>
            {% endfor %}
        </div>
        <div class="block items-center pt-2">
            <span class="text-sm font-bold">Child Config</span>
            {% for key, value in step.child_config|items %}
            <div class="block text-sm">{{key}}: {{value}}</div>
            {% endfor %}
        </div>
        {% if step.no_groups != 0 %}
        <div class="flex pt-2">
            <div class="has-tooltip bg-green-500 h-5
                {% if step.no_groups_completed == 0 %}hidden{%endif%}"
                 style="width: {{ '{:.0%}'.format((step.no_groups_completed/step.no_groups) + 0.01) }}">
                <span class="tooltip rounded shadow-lg p-1 bg-gray-200 text-sm -mt-8">Completed</span>
                <span class="text-xs">{{step.no_groups_completed}}</span>
            </div>
            <div class="has-tooltip bg-yellow-300 h-5
                {% if step.no_groups_need_attention == 0 %}hidden{%endif%}"
                 style="width: {{ '{:.0%}'.format((step.no_groups_need_attention/step.no_groups) + 0.01) }}">
                <span class="tooltip rounded shadow-lg p-1 bg-gray-200 text-sm -mt-8">Need Attention</span>
                <span class="text-xs">{{step.no_groups_need_attention}}</span>
            </div>
            <div class="has-tooltip bg-red-600 h-5
                {% if step.no_groups_failed == 0 %}hidden{%endif%}"
                 style="width: {{ '{:.0%}'.format((step.no_groups_failed/step.no_groups) + 0.01) }}">
                <span class="tooltip rounded shadow-lg p-1 bg-gray-200 text-sm -mt-8">Failed</span>
                <span class="text-xs">{{step.no_groups_failed}}</span>
            </div>
            <div class="bg-gray-100 h-5
                {% if no_status_groups == 0 %}hidden{%endif%}"
                 style="width: {{ '{:.0%}'.format((no_status_groups/step.no_groups) + 0.01) }}">
            </div>
        </div>
        <div class="items-center text-xs font-normal">{{step.no_groups}} Groups ({{step.no_groups_completed}} FINISHED, {{step.no_groups_need_attention}} NEED ATTENTION, {{step.no_groups_failed}} FAILED)</div>
        {% endif %}
    </div>
    <div class="w-full px-4 py-5 sm:p-6">
        <div class="flex items-center">
            <span class="text-large font-bold">Scripts</span>
        </div>
        <div class="items-center pt-4">
            <div id="scriptsGrid" class="ag-theme-alpine h-64"></div>
        </div>
        <div class="flex items-center pt-4">
            <span class="text-large font-bold">Groups</span>
        </div>
        <div class="items-center pt-4">
            <div id="groupsGrid" class="ag-theme-alpine h-64"></div>
        </div>
    </div>
</div>
<script>
    class GroupNameRenderer {
        eGui;

     init(params) {
       let groupName = document.createElement('a');
       groupName.textContent = params.data.name;
       groupName.href = `{{url_for("get_group", campaign_id=campaign_id, step_id=step.id, group_id="${params.data.id}")}}`;
       groupName.setAttribute('class', 'font-bold text-teal-700 underline underline-offset-4 decoration-2 hover:text-gray-500');
       this.eGui = document.createElement('span');
       this.eGui.appendChild(groupName)
     }

     getGui() {
       return this.eGui;
     }

     refresh(params) {
         return false
     }
    }
    // scripts
    class ScriptNameRenderer {
        eGui;

     init(params) {
       let scriptName = document.createElement('a');
       scriptName.textContent = params.data.name;
       scriptName.href = `{{url_for("get_script", campaign_id=campaign_id, step_id=step.id, script_id="${params.data.id}")}}`;
       scriptName.setAttribute('class', 'font-bold text-teal-700 underline underline-offset-4 decoration-2 hover:text-gray-500');
       this.eGui = document.createElement('span');
       this.eGui.appendChild(scriptName)
     }

     getGui() {
       return this.eGui;
     }

     refresh(params) {
         return false
     }
    }
    const stepScripts = {{scripts|tojson}};
    const scriptsGridOptions = {
    rowData: stepScripts,
     columnDefs: [
         {field: "name", flex: 1, cellRenderer: ScriptNameRenderer,},
         {field: "status", flex: 1},
         {field: "superseded", flex: 1}
     ]
    };
    const scriptsGridElement = document.getElementById("scriptsGrid");
    agGrid.createGrid(scriptsGridElement, scriptsGridOptions);

    // groups
    class DictRenderer {
        eGui;

     init(params) {
       let dictElement = document.createElement('div');
       let my_dict = params.value;
       for (const key in my_dict){
           let itemElement = document.createElement('p');
           itemElement.textContent = `${key}: ${my_dict[key]}`
           dictElement.appendChild(itemElement);
       }
       // dictElement.setAttribute('class', 'font-bold hover:text-teal-500 h-64');
       this.eGui = document.createElement('span');
       this.eGui.appendChild(dictElement)
     }

     getGui() {
       return this.eGui;
     }

     refresh(params) {
         return false
     }
    }
    const stepGroups = {{groups|tojson}};
    const groupsGridOptions = {
        rowData: stepGroups,
        rowHeight: 120,
        columnDefs: [
            {field: "name", flex: 1, filter: true, cellRenderer: GroupNameRenderer},
            {field: "status", flex: 1},
            {field: "superseded", flex: 1},
            {field: "data", flex: 2, wrapText: true, valueFormatter: (params) => params.data.data["data_query"] },
            {field: "child_config", flex: 2, cellRenderer: DictRenderer},
            {field: "collections", flex: 2, cellRenderer: DictRenderer},
            {field: "spec_aliases", flex: 2, cellRenderer: DictRenderer},
        ]
    };
    const groupsGridElement = document.getElementById("groupsGrid");
    agGrid.createGrid(groupsGridElement, groupsGridOptions);
</script>
{% endblock %}
