{% extends "base.html" %}
{% block title %} Step Details {% endblock %}
{% block content %}
<nav class="flex px-2 sm:px-4 lg:px-4" aria-label="Breadcrumb">
  <ol role="list" class="flex items-center space-x-2">
<!--    <li>-->
<!--      <div>-->
<!--        <a href="#" class="text-gray-400 hover:text-gray-500">-->
<!--          <svg class="h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">-->
<!--            <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd" />-->
<!--          </svg>-->
<!--          <span class="sr-only">Home</span>-->
<!--        </a>-->
<!--      </div>-->
<!--    </li>-->
    <li>
      <div class="flex items-center">
<!--        <svg class="h-5 w-5 flex-shrink-0 text-gray-300" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">-->
<!--          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />-->
<!--        </svg>-->
        <a href="#" class="ml-2 text-sm font-medium text-gray-500 hover:text-gray-700">HSC_WEEKLY</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="h-5 w-5 flex-shrink-0 text-gray-300" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
        </svg>
        <a href="#" class="ml-2 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page">w_2024_10_test0</a>
      </div>
    </li>
  </ol>
</nav>
<div class="w-full">
    <div class="overflow-hidden px-4 py-5 sm:p-6 relative h-300 mb-3 w-1/4" xmlns="http://www.w3.org/1999/html">
        <div class="flex items-center">
            <span class="text-2xl font-bold">{{step.name}}</span>
        </div>
        <div class="flex items-center">
            <span class="text-sm font-normal">{{step.fullname}}</span>
        </div>

        <div class="flex pt-2">
            {% if step.no_groups_completed == step.no_groups %}
            <div class="bg-green-500 h-5 w-full"></div>
            {% elif step.no_groups_need_attention == step.no_groups %}
            <div class="bg-yellow-300 w-full h-5"></div>
            {% elif step.no_groups_failed == step.no_groups %}
            <div class="bg-red-600 w-full h-5"></div>
            {% else %}
            <div class="bg-green-500 h-5 w-{{(step.no_groups_completed * 12 / step.no_groups)|round|int}}/12"></div>
            <div class="bg-yellow-300 w-{{(step.no_groups_need_attention * 12 / step.no_groups)|round|int}}/12 h-5"></div>
            <div class="bg-red-600 w-{{(step.no_groups_failed * 12 / step.no_groups)|round|int}}/12 h-5"></div>
            {% endif %}
        </div>
        <div class="flex items-center text-xs font-normal">{{ step.no_groups}} Groups ({{step.no_groups_completed}} FINISHED, {{step.no_groups_need_attention}} NEED ATTENTION, {{step.no_groups_failed}} FAILED)</div>
    </div>
</div>
{% endblock %}
