<div class="step-card overflow-hidden px-4 py-5 shadow sm:p-6 relative h-300 mb-3" xmlns="http://www.w3.org/1999/html">
    <div class="flex items-center">
        <a class="text-large font-bold hover:text-gray-500" href="{{ url_for('get_step', campaign_id=campaign.id, step_id=step.id) }}">{{step.name}}</a>
    </div>
    <a href="{{ url_for('get_step', campaign_id=campaign.id, step_id=step.id) }}">
        <div class="flex items-center">
            <span class="text-sm font-normal">{{step.fullname}}</span>
        </div>
        <div class="flex items-center pt-4">
            <span class="text-xs font-normal">{{ step.no_groups}} Group(s)</span>
        </div>

        <div class="items-center pt-2">
            {% if step.no_groups != 0 %}
            <div class="has-tooltip bg-green-500 h-5
                {% if step.no_groups_completed == 0 %}hidden{%endif%}"
                 style="width: {{ '{:.0%}'.format((step.no_groups_completed/step.no_groups) + 0.01) }}">
                <span class="tooltip rounded shadow-lg p-1 bg-gray-200 text-sm -mt-8">Completed</span>
                <span class="text-xs">{{step.no_groups_completed}}</span>
            </div>
            <div class="has-tooltip bg-yellow-300 h-5
                {% if step.no_groups_need_attention == 0 %}hidden{%endif%}"
                 style="width: {{ '{:.0%}'.format((step.no_groups_need_attention/step.no_groups) + 0.01) }}">
                <span class="tooltip rounded shadow-lg p-1 bg-gray-200 text-sm -mt-8">Need Attention</span>
                <span class="text-xs">{{step.no_groups_need_attention}}</span>
            </div>
            <div class="has-tooltip bg-red-600 h-5
                {% if step.no_groups_failed == 0 %}hidden{%endif%}"
                 style="width: {{ '{:.0%}'.format((step.no_groups_failed/step.no_groups) + 0.01) }}">
                <span class="tooltip rounded shadow-lg p-1 bg-gray-200 text-sm -mt-8">Failed</span>
                <span class="text-xs">{{step.no_groups_failed}}</span>
            </div>
            <div class="flex items-center text-xs font-medium">{{step.no_groups_completed}} FINISHED, {{step.no_groups_need_attention}} NEED ATTENTION, {{step.no_groups_failed}} FAILED</div>
            {% endif %}
        </div>
    </a>
</div>
