########################################
{%- if ticket %}
# https://rubinobs.atlassian.net/browse/{{ ticket }}
{%- endif %}
{%- if description %}
# {{ description }}
{%- endif %}
########################################
project: {{ project }}
campaign: {{ campaign }}
submitPath: {{ submit_path }}
{# BLANK LINE #}
{%- if bps_variables|length > 0 %}
########################################
# ADDITIONAL BPS DIRECTIVES
########################################
{%- for key, value in bps_variables|items %}
{{ key }}: "{{ value }}"
{%- endfor %}
{# BLANK LINE #}
{%- endif %}
########################################
# PIPELINE CONFIGURATION
########################################
pipelineYaml: {{ pipeline_yaml }}
{%- if include_configs | length > 0 %}
includeConfigs:
{%- for config in include_configs %}
- {{ config }}
{%- endfor %}
{%- endif %}
{# BLANK LINE #}
########################################
# LSST SETUP
########################################
LSST_VERSION: {{ lsst_version }}
{# BLANK LINE #}
{%- if bps_environment %}
########################################
# SUBMISSION ENVIRONMENT VARIABLES
########################################
environment:
{%- for key, value in bps_environment|items %}
  {{ key }}: "{{ value }}"
{%- endfor %}
{# BLANK LINE #}
{%- endif %}
########################################
# BPS PAYLOAD OPTIONS
########################################
payload:
{%- for key, value in payload|items %}
  {{ key }}: "{{ value | trim }}"
{%- endfor %}
{%- if extra_qgraph_options %}
extraQgraphOptions: {{ extra_qgraph_options | replace("\n", " ") | trim }}
{%- endif %}
{%- if extra_run_quantum_options %}
extraRunQuantumOptions: {{ extra_run_quantum_options | replace("\n", " ") | trim }}
{%- endif %}
{# BLANK LINE #}
{%- if clustering %}
########################################
# ADDITIONAL CLUSTERING CONFIGURATION
########################################
clustering:
  {{ clustering | toyaml | indent(2) -}}
{# BLANK LINE #}
{%- endif%}
########################################
# SITE WMS CONFIGURATION
########################################
{%- if wms == "htcondor" %}
wmsServiceClass: lsst.ctrl.bps.htcondor.HTCondorService
{%- if compute_site == "usdf" %}
site:
  s3df:
    profile:
      condor:
        +Walltime: 7200
memoryMultiplier: 4.
numberOfRetries: 3
memoryLimit: 400000
{%- endif %}
{%- endif %}
{%- if wms == "panda" %}
wmsServiceClass: lsst.ctrl.bps.panda.PanDAService
{%- if compute_site == "usdf" %}
computeCloud: US
computeSite: SLAC
requestMemory: 4000
memoryMultiplier: 1.2
{%- elif compute_site == "lanc" %}
computeSite: LANCS
{%- elif compute_site == "in2p3" %}
computeSite: CC-IN2P3
{%- endif %}
{%- endif %}
{# BLANK LINE #}
