########################################
{%- if lsst.ticket %}
# https://rubinobs.atlassian.net/browse/{{ lsst.ticket }}
{%- endif %}
{%- if lsst.description %}
# {{ lsst.description }}
{%- endif %}
########################################
{%- if lsst.project %}
project: {{ lsst.project }}
{%- endif %}
{%- if lsst.campaign %}
campaign: {{ lsst.campaign }}
{%- endif %}
{%- if bps.operator %}
operator: {{ bps.operator }}
{%- endif %}
submitPath: {{ wms.working_directory }}/submit/{timestamp}
{# BLANK LINE #}
########################################
# LSST SETUP
########################################
LSST_VERSION: {{ lsst.lsst_version }}
{# BLANK LINE #}
{%- if bps.variables|length > 0 %}
########################################
# BPS VARIABLES
########################################
{%- for key, value in bps.variables | items %}
{{ key }}: "{{ value }}"
{%- endfor %}
{# BLANK LINE #}
{%- endif %}
########################################
# PIPELINE CONFIGURATION
########################################
pipelineYaml: {{ bps.pipeline_yaml }}
{%- if bps.include_files | length > 0 %}
includeConfigs:
{%- for config in bps.include_files %}
  - {{ config }}
{%- endfor %}
{%- endif %}
{%- if bps.literals | length > 0 %}
{%- for key, value in bps.literals | items %}
{{ key }}: {{ value }}
{%- endfor %}
{%- endif %}
{# BLANK LINE #}
{%- if bps.environment %}
########################################
# SUBMISSION ENVIRONMENT VARIABLES
########################################
environment:
{%- for key, value in bps.environment|items %}
  {{ key }}: "{{ value }}"
{%- endfor %}
{# BLANK LINE #}
{%- endif %}
########################################
# BPS PAYLOAD OPTIONS
########################################
payload:
{%- for key, value in bps.payload|items %}
  {{ key }}: "{{ value | trim }}"
{%- endfor %}
{%- if bps.extra_qgraph_options %}
extraQgraphOptions: {{ bps.extra_qgraph_options | replace("\n", " ") | trim }}
{%- endif %}
{%- if bps.extra_run_quantum_options %}
extraRunQuantumOptions: {{ bps.extra_run_quantum_options | replace("\n", " ") | trim }}
{%- endif %}
{%- if bps.extra_init_options %}
extraInitOptions: {{ bps.extra_init_options | replace("\n", " ") | trim }}
{%- endif %}
{%- if bps.extra_update_qgraph_options %}
extraUpdateQgraphOptions: {{ bps.extra_update_qgraph_options | replace("\n", " ") | trim }}
{%- endif %}
{# BLANK LINE #}
{%- if bps.clustering %}
########################################
# CLUSTERING CONFIGURATION
########################################
clustering:
  {{ bps.clustering | toyaml | indent(2) -}}
{# BLANK LINE #}
{%- endif%}
########################################
# SITE WMS CONFIGURATION
########################################
wmsServiceClass: {{ wms.service_class }}
{%- if site %}
{{ site | flatten_chainmap | toyaml -}}
{%- endif %}
{# BLANK LINE #}
