#!/usr/bin/env bash
{%- if script_method == "bash" %}
# Assuming native environment already setup

{%- elif script_method == "htcondor" %}

# setup LSST env.
export LSST_VERSION='{{ lsst_version }}'
export LSST_DISTRIB_DIR='{{ lsst_distrib_dir }}'
source ${LSST_DISTRIB_DIR}/${LSST_VERSION}/loadLSST.bash
setup lsst_distrib

{%- elif script_method == "panda" %}

# setup PanDA env.
latest_panda=$(ls -td /cvmfs/sw.lsst.eu/linux-x86_64/panda_env/v* | head -1)
source ${latest_panda}/setup_panda_usdf.sh ${WEEKLY}
panda_auth status

{%- endif %}
{%- if custom_lsst_setup %}

{{ custom_lsst_setup }}

{%- endif %}
{{ command }}
{%- if append %}

{{ append }}
{%- endif %}
