# A workflow that builds and pushes the Docker container image artifacts for
# the application. The action occurs on new tags and when called from another
# workflow.
---
name: "Build and Push"

"on":
  push:
    tags:
      - "*"
  workflow_call:
  workflow_dispatch:

jobs:

  build:
    name: "Build and Push Application Container Images"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - target: cmservice
            image: ${{ github.repository_owner }}/cm-service
          - target: cmworker
            image: ${{ github.repository_owner }}/cm-worker
          - target: cmweb
            image: ${{ github.repository_owner }}/cm-web
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: lsst-sqre/build-and-push-to-ghcr@v1
        with:
          dockerfile: docker/Dockerfile
          target: ${{ matrix.target }}
          platforms: linux/amd64,linux/arm64
          image: ${{ matrix.image }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          push: true
